.card {
    position: relative;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 80px;
    display: block;
    margin: 5px;
    border: 2px solid white;
    border-radius: 6px;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

@media screen and (min-width:576px) {
    .card img {
        width: 100px;
    }
}