@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
}

* {
  font-family: Mulish;
}

.front {
  height: 80px;
}

.back {
  height: 80px;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.turns {
  font-size: 2rem;
  margin-top: 0;
}

.card-wrapper {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-items: center;
  margin: auto;
  flex-grow: 3;
}

.content-h {
  margin: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-h {
  text-align: center;
}

.turns,
.timer {
  text-align: center;
  margin: 10px;
}

h2 {
  color: rgb(149, 40, 87);
  margin: 0;
}

@media screen and (min-width:576px) and (max-width: 768px) {
  .front {
    height: 100px;
  }

  .back {
    height: 100px;
  }

  .card-wrapper {
    width: 500px;
  }

  h1 {
    font-size: 2.2em;
    line-height: 1.1;
  }
}

@media screen and (min-width:768px) and (max-width: 992px) {
  .front {
    height: 100px;
  }

  .back {
    height: 100px;
  }

  .card-wrapper {
    width: 500px;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

@media screen and (min-width:992px) and (max-width: 1200px) {
  .front {
    height: 100px;
  }

  .back {
    height: 100px;
  }

  .card-wrapper {
    width: 500px;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

@media screen and (min-width:1200px) {
  .front {
    height: 100px;
  }

  .back {
    height: 100px;
  }

  .card-wrapper {
    width: 500px;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}